@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    min-width: 300px;
    overflow-x: hidden;
  }
}

@layer components {
  .logo {
    font-family: "Permanent Marker", cursive;
  }

  .navbar-dropdown-link:hover + div {
    @apply visible opacity-100 transition-opacity;
  }
}
